

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{character.created | date }}</mat-card-subtitle>
    </mat-card-header>
  
    <!-- TODO: imagen -->
    <app-loading-image [url]="character.image"></app-loading-image>

    <!-- <img mat-card-image [src]="character.image" [alt]="character.name"> -->
  
    <mat-card-content class="mt-2">
      <h4>{{ character.name  }}</h4>
    </mat-card-content>
  </mat-card>